body {
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#start-button {
  margin: 20px;
  padding: 15px 30px;
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  background-color: #fef2bf;
  color: #011f3f;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 700px) {
  #level-title {
    font-size: 1.5rem;
  }

  .container {
    width: 90%;
  }

  .btn {
    margin: 10px;
    height: 120px;
    width: 120px;
    border: 6px solid black;
  }

  #start-button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 80%;
  }

  .btn {
    margin: 20px;
    height: 150px;
    width: 150px;
  }
}
